<center>
 <label>The app predicts the category of iris flower based on the input dimensions of the flower</label><br></br>
 <img src="{{href}}" height=300 />
 <form method='POST'>
  <br></br>
  <label>Input flower dimensions (in numeric only)</label>
  <br></br>
  <lable>Sepal Length</label>
  <input name='Sepal_length' /><br><br>
  <lable>Sepal Width</label>
  <input name='Sepal_width' /><br><br>
  <lable>Petal Length</label>
  <input name='Petal_length' /><br><br>
  <lable>Petal Width</label>
  <input name='Petal_width' /><br><br>
  <input type='submit'>
 </form>
</center>
